@namespace BasicApp.Pages.Fundamental

@page "/ignorethis"
@using MudBlazor
@using BasicApp.Shared
@using BasicApp.Modules
@using BasicApp.Data.Storage
@inject Constants constants
@inject MainStorage mainstorage

<h1></h1>

<div>
</div>



@code {

    protected override void OnInitialized()
    {

    }
}