@namespace basicApp.Pages.Fundamental

@page "/ignorethis"
@using MudBlazor
@using basicApp.Shared
@using basicApp.Modules
@using basicApp.Data.Storage
@inject Constants constants
@inject MainStorage mainstorage

<h1></h1>

<div>
</div>



@code {

    protected override void OnInitialized()
    {

    }
}