@namespace Shared.Identity

@using MudBlazor
@using Shared
@using Data.Storage

@using Modules.Db

@inject TestDbManager tdbm

<h1>
    Persons in test db:
</h1>

@foreach (var person in tdbm.GetAll())
{
    <div>
        <p>
            @person.Name
        </p>
        <p>
            @person.Age | @person.Job
        </p>
    </div>
}


@code {

    protected override void OnInitialized()
    {

    }
}